table {
    width: 100%;
    border-collapse: collapse; 
}

table, th, td {
    border: 1px solid black; 
}

th, td {
    padding: 10px; 
    text-align: center; 
}

th {
    background-color: #ebe6e8; 
}

body {
    background-color: #f0f0f0;
    font-family: Arial;
    color: #333;
}


nav ul {
    list-style-type: none;
    background-color: #070707;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}


form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
}

form input[type="text"], form input[type="email"], form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


h2 {
    color: #404140;
}